<!DOCTYPE html>
<html lang="en">
  <%- include('website_classes/head') %>
  <body>

    <%- include('website_classes/navbar') %>
    <!-- END nav -->
    
    <%- include('../components/website_pages/cars_component') %>


    <%- include('website_classes/footer') %>
   
  
    <%- include('website_classes/loader') %>


    <%- include('website_classes/footer_links') %>

  
    
  </body>
</html>