<!DOCTYPE html>

<html lang="en">
  <style>

    .translate-ltr{
      margin-top: -40px !important;
      
    }
    .VIpgJd-ZVi9od-ORHb{
      display: none !important;
    opacity: 0;
    }
    table{display: none;}
    .translate-ltr{
      margin-top: -40px;
    
    }
    .goog-te-banner-frame{
      display: none !important;
      margin-top: -20px;
    
    }
    .goog-logo-link{
      display: none !important;
    }
    .goog-te-gadget{
      color: transparent !important;
    }
    .goog-te-gadget span{
      display: none;
    }
    
    </style>
    

  <%- include('website_classes/head') %>
  <body>

    <%- include('website_classes/navbar') %>
    <!-- END nav -->
    
    <%- include('../components/website_pages/index_component') %>


    <%- include('website_classes/footer') %>
   
  
    <%- include('website_classes/loader') %>


    <%- include('website_classes/footer_links') %>

  </body>
</html>