 <head>
    <title>Narzi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>const baseUrl = '<%= baseUrl %>';</script>
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="<%= baseUrl %>/website/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="<%= baseUrl %>/website/css/animate.css">
    
    <link rel="stylesheet" href="<%= baseUrl %>/website/css/owl.carousel.min.css">
    <link rel="stylesheet" href="<%= baseUrl %>/website/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="<%= baseUrl %>/website/css/magnific-popup.css">

    <link rel="stylesheet" href="<%= baseUrl %>/website/css/aos.css">

    <link rel="stylesheet" href="<%= baseUrl %>/website/css/ionicons.min.css">

    <link rel="stylesheet" href="<%= baseUrl %>/website/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="<%= baseUrl %>/website/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="<%= baseUrl %>/website/css/flaticon.css">
    <link rel="stylesheet" href="<%= baseUrl %>/website/css/icomoon.css">
    <link rel="stylesheet" href="<%= baseUrl %>/website/css/style.css">




    
  </head>