<!doctype html>
<html class="no-js " lang="en">
<%- include('../classes/head') %>
<body class="theme-orange">
<!-- Page Loader -->
<%- include('../classes/loader') %>
<!-- Overlay For Sidebars -->
<%- include('../classes/search') %>

<!-- Top Bar -->
<%- include('../classes/navbar') %>
<!-- Left Sidebar -->
<%- include('../classes/sidebar') %>


<!-- Main Content -->
<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2> Feedbacks </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="/dashboard"><i class="zmdi zmdi-home"></i> Car Book</a></li>
                    <li class="breadcrumb-item active"> Feedbacks</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <%- include('../../components/dashboard_pages/feedbacks/feedbacks_index_component') %>
        <%- include('../../dashboard/classes/footer') %>
    </div>
</section>


<!-- Jquery Core Js --> 
<%- include('../classes/footer_links') %>
</body>
</html>